body {
  background-color: gainsboro;
  text-align: center;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#greeting-container {
  margin-top: 20px;
}

#headline {
  display: block;
  text-align: center;
}

#name {
  display: inline;
  font-family: 'GT America Extended',sans-serif;
  font-weight: 800;
  font-size: 50px;
}

.hand {
  display: inline;
  font-weight: 800;
  font-size: 50px;
}

#my-pic {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#about-me {
  display: inline-block;
  text-align: center;
}

#bio {
  margin: auto;
  width: 50%;
}

ul {
  list-style-position: inside;
  text-align: center;
}

#contact {
  display: table;
  table-layout: fixed;
  width: 100%;   
}

.cont-span {
  display: table-cell;
  text-align: center;
}


